#private-message-page {
  position: relative;
}
#private-message-page .private-message-thread-full .private-message-recipients {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  margin: 0 -5px;
}
#private-message-page
  .private-message-thread-full
  .private-message-recipients
  span,
#private-message-page
  .private-message-thread-full
  .private-message-recipients
  article {
  padding: 0 5px;
}
#private-message-page
  .private-message-thread-full
  .field--name-private-messages
  .private-message {
  margin-top: -1px;
  padding: 5px;
  border: solid #ccc 1px;
}
#private-message-page
  .private-message-thread-full
  .field--name-private-messages
  .private-message
  .field--name-created {
  float: right;
}
#private-message-page
  .private-message-thread-full
  .field--name-private-messages
  #load-previous-messages-button-wrapper {
  border: solid #ccc 1px;
}
#private-message-page
  .private-message-thread-full
  .field--name-private-messages
  #load-previous-messages-button-wrapper.load-previous-position-before {
  border-bottom: none;
}
#private-message-page
  .private-message-thread-full
  .field--name-private-messages
  #load-previous-messages-button-wrapper.load-previous-position-after {
  border-top: none;
}
#private-message-page
  .private-message-thread-full
  .field--name-private-messages
  #load-previous-messages-button-wrapper
  a {
  display: block;
  text-align: center;
  border-bottom: none;
  font-size: 0.8em;
}
